{% extends "base.html" %}

{% block content %}
<div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk9B1dobSYSpzSNSNIlBoHfJC2yynE2-kk2A&s');
        background-position: center; background-repeat: no-repeat; background-size: cover; height: 60vh; ">
            <div class="col-8" style="padding-top: 100px; margin-left: 50px">
                <p>2025-21</p>
                <p>The best solutions for our clients</p>
                <h1 class="pt-3"> <b>We create exclusive events using modern technologies and extensive features</b></h1>
            </div>
</div>
    
    <div class="container col-8 offset-2">
        <div class="row pt-4">
            {% for event in events %}
            <div class="col-4 mb-4">
                <div class="card" style="width: 18rem; border-color: deeppink; border-radius: 2px">
                    <img src="{{ MEDIA_URL }}{{ event.poster.url }}" class="card-img-top" alt="..." height="250px;">
                    <div class="card-body bg-dark">
                        <h1 class="card-title text-light">{{ event.name }}</h1>
                        <p class="text-secondary">{{ event.date }} {{ repair.car.type}}</p>
                        <p class="text-light">{{ event.is_open }}</p>
                        <input class="bg-dark border border-3 border-danger text-danger me-3" type="button" value="Fix"/>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}