{% extends "base.html" %}

{% block content %}

    <div class="mt-5 pt-5 mb-5 pt-5">
        <div class="container col-8 offset-2 row">
            <div class="col-6">
                <div class="col-md-10 offset-1">
                    <div class="align-items-center">
                        <h1 class="text-center">Safety First</h1><br>
                        <p class="text-center">Flights are possible at any time of the year, but only under safe weather conditions. No flights to best Bootstrap templates allowed when it's raining heavily. We carefully check the wind speed. If there is something wrong with the weather, we'll refund you the full cost of tickets. We can set another flight time if you're interested.</p><br>
                        <div class="text-center">
                            <button class="btn btn-info rounded-5 w-50">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="https://mobirise.com/bootstrap-template/best-bootstrap-templates/assets/images/ravali-yan-96009-unsplash-1110x740.jpg" width="100%">
            </div>
        </div>
        <div class="container col-8 offset-2 row mt-5">
            <div class="col-6">
                <img src="https://mobirise.com/bootstrap-template/best-bootstrap-templates/assets/images/ian-dooley-407846-unsplash-1110x740.jpg" width="100%">
            </div>
            <div class="col-6">
                <div class="col-md-10 offset-1 align-self-center">
                    <div>
                        <h1 class="text-center">More Fun</h1><br>
                        <p class="text-center">Flights are possible at any time of the year, but only under safe weather conditions. No flights to best Bootstrap templates allowed when it's raining heavily. We carefully check the wind speed. If there is something wrong with the weather, we'll refund you the full cost of tickets. We can set another flight time if you're interested.</p><br>
                        <div class="text-center">
                            <button class="btn btn-info rounded-5 w-50">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center">Tickets</h1>
    <div class="mt-5 mb-5 pt-5 pb-5 col-8 offset-2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div>
                <div class="p-3 bg-info">
                    <h5 class="text-center">Single</h5>
                    <h1 class="text-center">$40</h1>
                </div>
              <div class="bg-light p-5">
                <p class="text-center">One place in a basket</p>
                  <hr class="text-center">
                <p class="text-center">Equipment rental</p>
                  <hr class="text-center">
                <p class="text-center">Training and instructions</p>
                  <hr class="text-center"><br>
                  <div class="text-center">
                <button class="btn btn-info rounded-5 w-50">BUY TICKET</button>
                  </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div>
                <div class="p-3 bg-info">
                    <h5 class="text-center">For Children (6-14 years old)</h5>
                    <h1 class="text-center">$20</h1>
                </div>
              <div class="bg-light p-5">
                <p class="text-center">One place in a basket</p>
                  <hr class="text-center">
                <p class="text-center">Equipment rental</p>
                  <hr class="text-center">
                <p class="text-center">Training and instructions</p>
                  <hr class="text-center"><br>
                  <div class="text-center">
                <button class="btn btn-info rounded-5 w-50">BUY TICKET</button>
                  </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div>
                <div class="p-3 bg-info">
                    <h5 class="text-center">Group (4 persons)</h5>
                    <h1 class="text-center">$150</h1>
                </div>
              <div class="bg-light p-5">
                <p class="text-center">One place in a basket</p>
                  <hr class="text-center">
                <p class="text-center">Equipment rental</p>
                  <hr class="text-center">
                <p class="text-center">Training and instructions</p>
                  <hr class="text-center"><br>
                  <div class="text-center">
                <button class="btn btn-info rounded-5 w-50">BUY TICKET</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}