{% extends "base.html" %}

{% block content %}
<div class="bg-light">
    <div class="col-8 offset-2 pt-5 pb-5">
        <div class="col-6 offset-3 align-items-center pb-5">
            <h1 class="text-center">OUR SERVICES</h1>
            <hr class="text-center" style="width: 15%; margin-left: auto; margin-right: auto">
            <p class="text-center">Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls.</p>
        </div>
        <div class="col-6 offset-3 align-items-center pb-5">
            <h1 class="text-center">OUR GALLERY</h1>
            <hr class="text-center" style="width: 15%; margin-left: auto; margin-right: auto">
            <p class="text-center">Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls.</p>
        </div>
        <div class="row pb-5">
            <div class="col-4">
                <img src="https://img001.prntscr.com/file/img001/coXAGlkCRM2SfP2o-WLC6A.png" height="400px">
            </div>
            <div class="col-4">
                <img src="https://img001.prntscr.com/file/img001/IXdKxMMpQlyOfQZlq_RNRQ.png"  height="400px">
            </div>
            <div class="col-4">
                <img src="https://img001.prntscr.com/file/img001/2EWTMcKESfWi-m05BaVqzQ.png" height="400px">
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-white text-secondary border-1 border-secondary">SEE FULL GALLERY</button>
        </div>
        <div class="pt-5 row">
            <div class="col-6 row">
                <img class="col-6" src="https://img001.prntscr.com/file/img001/vIStRtkvRH67ZxbWwhosNQ.png">
                <img class="col-6" src="https://img001.prntscr.com/file/img001/r5_0FotnQb2rd0b0gMb0rQ.png">
            </div>
            <div class="col-6">
                <h1 class="pb-3">LONG TERM WARRANTIES AND COMPETITIVE PRICES</h1>
                <p class="pb-3">Why do we consider ourselves to be the best car garage? It’s simple, really. We know that honesty and transparency, coupled with reliable and friendly customer service, is what really builds customer trust.</p>
                <p class="pb-3">Trust the experts at our AutoService Shop for quality tune-ups. Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. We offer competitive.</p>
                <button class="btn btn-primary text-light">SEE ALL OUR OFFERS</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}