{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div class=" border border-2">
        <div>
            <ul>
            <div class="bg-success">
                <h1 class="text-center">All departments</h1>
            </div>
            
            <div class="ms-4 mb-2">
                <li>Fresh Meat</li>
                <li>Vegetables</li>
                <li>Fruit & Nut Gifts</li>
                <li>Fresh Berries</li>
                <li>Ocean Food</li>
                <li>Butter & Eggs</li>
                <li>Fesh Onion</li>
                <li>Oatmeal</li>
                <li>Fresh Bananas</li>
            </div>
        </ul>
        </div>
    </div>
        </div>
        
        <div class="col-9">
            <img src="https://images-ext-1.discordapp.net/external/AnQFaMOl83QHeSNCZFUUctrje7CRyzQCOM-HQdGEcYE/https/ivankitanovski.github.io/exam/banner.jpg?format=webp" width="100%" height="69%">
        </div>
    </div>
    
    <div class="text-center">
    <h1 class="text-center">From The Blog</h1>
    <hr class="text-center text-success" style="width: 50px; height: 15px">
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
    </div>
{% endblock %}